@font-face{
    font-family: 'DejaVuSansMono';
    font-display: swap;
    src: url('./assets/DejaVuSansMono.woff2');
}

:root {
    --darkest: #002b36;
    --lightish: #839496;
    --lightest: #fdf6e3;

    --yellow: #b58900;
    --orange: #cb4b16;
    --green: #859900;

    --mobile-max-width: 600px;
}

body {
    margin: 0 1.5rem;
    font-family: 'DejaVuSansMono', Monaco, monospace;
    font-size: 14px;
    line-height: 2;

    background-color: var(--darkest);
    color: var(--lightish);
}

.main {
    max-width: var(--mobile-max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    color: var(--orange);
}

.intro:after {
    content: '***';
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
}

a {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: var(--darkest);
}

a, a:active, a:visited {
    color: var(--green);
    pointer-events: auto;
    transition: background-color 0.5s;
    padding: 0.35rem;
    margin: 0 -0.35rem;
    border-radius: 0.5rem;
    outline: none;
}

@media (hover: hover) {
    a {
        text-decoration: none;
    }

    a:hover {
        background-color: var(--lightest);
    }
}

.projects {
    margin: 0 0 1rem;
    padding: 1.5rem 0;
    list-style: none;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}

.timeline {
    position: absolute;
    width: 0px;
    height: 100%;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    outline: 0.5px solid var(--lightish);
    z-index: -1;
}

.project {
    min-height: 6rem;
    overflow: visible;
    position: relative;
    pointer-events: none;
}

.project img {
    position: absolute;
    top: -1.5rem;
    height: 8.5rem;
    cursor: pointer;
    z-index: -1;
}

.project:nth-of-type(2n + 1) {
    text-align: left;
}
.project:nth-of-type(2n + 1):before {
    content: '';
    display: inline-block;
    position: relative;
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid var(--lightest);
    border-radius: 50%;
    background-color: var(--lightest);
    margin-left: calc(50% - 0.25rem - 1px);
}

.project:nth-of-type(2n + 1) a {
    padding-left: 0.85rem;
    margin-left: -0.85rem;
}

.project:nth-of-type(2n + 1) img {
    left: calc(50% + 3rem);
}

.project:nth-of-type(2n) {
    text-align: right;
}
.project:nth-of-type(2n):after {
    content: '';
    display: inline-block;
    position: relative;
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid var(--lightest);
    border-radius: 50%;
    background-color: var(--lightest);
    margin-right: calc(50% - 0.25rem - 1px);
}

.project:nth-of-type(2n) img {
    right: calc(50% + 3rem);
}

.made-with {
    display: none;
    text-align: center;
    margin-bottom: 3rem;
}

.portrait {
    max-width: var(--mobile-max-width);
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    min-height: 18rem;
}

canvas {
    max-width: 18rem;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-60%);
}

.warping {
    cursor: pointer;
}

@media (min-width: 1000px) {
    body {
        font-size: 16px;
    }

    .main {
        position: absolute;
        top: 10vh;
        left: 8vw;
        margin: 0;
        max-width: 460px;
        min-height: initial;
    }

    .made-with {
        display: block;
    }

    .portrait {
        height: 100vh;
        max-width: 100vw;
        position: fixed;
        z-index: -1;
        bottom: 0;
        right: -8vw;
        overflow: initial;
    }

    canvas {
        position: static;
        max-width: 100%;
        max-height: 100%;
        transform: none;
    }
}

@media (min-width: 1200px) {
    .main {
        top: 20vh;
        left: 12vw;
        max-width: 540px;
    }

    .portrait {
        right: -2vw;
    }
}

@media (min-width: 1600px) {
    .main {
        left: 16vw;
        max-width: 600px;
    }

    .portrait {
        right: 2vw;
    }
}
