@font-face{
    font-family: 'DejaVuSansMono';
    src: url('./DejaVuSansMono.ttf');
}

:root {
    --darkest: #002b36;
    --darker: #073642;
    --dark: #586e75;
    --darkish: #657b83;

    --lightish: #839496;
    --light: #93a1a1;
    --lighter: #eee8d5;
    --lightest: #fdf6e3;

    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

body {
    margin: 0 1.5rem;
    font-family: 'DejaVuSansMono', Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 2;

    background-color: var(--darkest);
    color: var(--lightish);
}

.title {
    color: var(--orange);
}

a {
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

a, a:active, a:visited {
    color: var(--green);
    pointer-events: auto;
    transition: background-color 0.5s;
    padding: 0.35rem;
    margin: 0 -0.35rem;
    border-radius: 0.5rem;
    outline: none;
}

a:hover {
    background-color: var(--lightest);
}

.projects {
    margin: 0 -0.5rem 1rem;
    padding: 0 0.5rem;
    list-style: none;
    overflow-y: scroll;
}

.projects:before {
    content: '***';
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    text-align: center;
}

.spacer {
    margin: 0 0.25rem;
    color: var(--yellow);
}

.portrait {
    max-height: 100vh;
    max-width: 100vw;
    position: fixed;
    bottom: 0;
    right: 2vw;
}

canvas {
    display: none;
    max-width: 100%;
    max-height: 100%;
}

.warping {
    cursor: pointer;
}

@media (min-width: 1000px) {
    body {
        font-size: 18px;
    }

    .main {
        position: absolute;
        max-width: 40vw;
        top: 20vh;
        left: 10vw;
    }

    canvas {
        display: block;
    }
}
